:set insert
<div class="geoposition-widget" data-map-widget-height="{{ config.map_widget_height }}" data-map-options="{{ config.map_options }}" data-marker-options="{{ config.marker_options }}">
        <table>
            <tr>
                <td>{{ latitude.label|capfirst }}</td>
                <td>{% include latitude.html.template_name with widget=latitude.html %}</td>
            </tr>
            <tr>
                <td>{{ longitude.label|capfirst }}</td>
                <td>{% include longitude.html.template_name with widget=longitude.html %}</td>
            </tr>
        </table>
</div>

